apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: virtwork

resources:
  - namespace.yaml
  - serviceaccount.yaml
  - rbac.yaml
  - configmap.yaml
  - secret.yaml
  - pvc.yaml
  - deployment.yaml

labels:
  - pairs:
      app.kubernetes.io/name: virtwork
      app.kubernetes.io/managed-by: virtwork
    includeSelectors: false
